{% extends 'base.html' %}

<h1>총 참여 인원: {{ viewers }}</h1>
<h1>가장 많은 유형: {{ max_mbti }}</h1>
<h1>가장 적은 유형: {{ min_mbti }}</h1>

{% block content %}
  <div class="mb-3 d-flex justify-content-center">
    <span class="title">
      개발자 MBTI aaaaa
    </span>
  </div>
  <img src="project_img/main.gif" alt="" class="main-img">
  <a href="" class="mt-4 mb-5 d-flex justify-content-center align-items-center start-box">
    <span class="start-font">
      START
    </span>
  </a>

  <div class="my-2 d-flex flex-column justify-content-center align-items-center info-box">
    <p class="infofont-s mb-1">참여자 수</p>
    <p class="infofont-l">{{ viewers }}</p>
  </div>
  <div class="my-2 d-flex flex-column justify-content-center align-items-center info-box">
    <p class="infofont-s mb-1">가장 많은 유형</p>
    <p class="infofont-l">{{ max_mbti }}</p>
    <p class="infofont-l text-center">{{ max_mbti_type }}</p>
  </div>
  <div class="my-2 d-flex flex-column justify-content-center align-items-center info-box">
    <p class="infofont-s mb-1">가장 적은 유형</p>
    <p class="infofont-l">{{ min_mbti }}</p>
    <p class="infofont-l text-center">{{ min_mbti_type }}</p>
  </div>
{% endblock content %}