{% extends 'base.html' %}

{% block content %}
  <!-- 질문 번호 -->
  <p class="question-number mb-1">Q{{questions.pk}}</p>
  <!-- 프로그레스 바 -->
  <div class="progress" style="height: 8px; background: #C4C4C4;">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%; background: #9559C5;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <!-- 질문 -->
  <div class="question-box d-flex justify-content-start align-items-center">
    <p class="question-font ms-1">{{ questions.title | linebreaksbr }}</p>
  </div>
  <!-- 대답 버튼 -->
  <form action="{%url 'mbti:choice_left' questions.pk %}" method="POST">
    {% csrf_token %}
    <button class="answer-box answer-font mt-3 mb-2 d-flex justify-content-center align-items-center border-0">
      <p class="m-0">
        {{ questions.choice_left | linebreaksbr }}
      </p>
    </button>
  </form>

  <form action="{%url 'mbti:choice_right' questions.pk %}" method="POST">
    {% csrf_token %}
    <button class="answer-box answer-font mt-3 mb-2 d-flex justify-content-center align-items-center border-0">
      <p class="m-0">
        {{ questions.choice_right | linebreaksbr }}
      </p>
    </button>
  </form>
  
{% endblock content %}

