{% extends 'base.html' %}

{% block content %}
  <!-- 질문 번호 -->
  <p class="question-number mb-1">Q{{questions.pk}}</p>
  <!-- 프로그레스 바 -->
  <div class="progress" style="height: 8px; background: #C4C4C4;">
    <div class="progress-bar" role="progressbar" style="width: {{ progress }}%; background: #9559C5;" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <!-- 질문 -->
  <div class="question-box d-flex justify-content-start align-items-center">
    <p class="question-font ms-1">{{ questions.title | linebreaksbr }}</p>
  </div>
  <!-- 대답 버튼 -->
  <form id="choiceLeft" method="POST" data-question-id="{{ questions.pk }}" data-question-category="{{ questions.question_category }}">
    {% csrf_token %}
    <button class="answer-box answer-font mt-3 mb-2 d-flex justify-content-center align-items-center border-0">
      <p class="m-0">
        {{ questions.choice_left | linebreaksbr }}
      </p>
    </button>
  </form>

  <form id="choiceRight" method="POST" data-question-id="{{ questions.pk }}" data-question-category="{{ questions.question_category }}">
    {% csrf_token %}
    <button class="answer-box answer-font mt-3 mb-2 d-flex justify-content-center align-items-center border-0">
      <p class="m-0">
        {{ questions.choice_right | linebreaksbr }}
      </p>
    </button>
  </form>
  
{% endblock content %}

{% block script %}
  <script>
    const loadMbti = JSON.parse(localStorage.getItem('mbtiDict'))
    const loadList = JSON.parse(localStorage.getItem('testList'))

    if (loadMbti === null) {
      location.href = `/mbti/`;
    }

    function onLeftSubmit(event) {
      event.preventDefault()
      const questionPk = event.target.dataset.questionId

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const config = {
        headers: {'X-CSRFToken': csrftoken},
      }

      if (questionPk*1 === 12) {
        const questionType = event.target.dataset.questionCategory

        loadMbti[questionType] = 1
        
        const indexPk = questionPk - 1
        loadList[indexPk] = 1

        localStorage.setItem('mbtiDict', JSON.stringify(loadMbti));
        localStorage.setItem('testList', JSON.stringify(loadList));
        
        const newLoadMbti = JSON.parse(localStorage.getItem('mbtiDict'))
        const newLoadList = JSON.parse(localStorage.getItem('testList'))

        if (newLoadList.includes(0)) {
          swal({
            // swal html 태그 추가 후 클래스 입히기
            text: "응답하지 않은 문항이 있습니다.\n메인 페이지로 돌아갑니다.",
            button: true,
            className: "swal-custom"
          }).then(function(){location.href = `/mbti/`;})          
        } else {
          
          let mbtiString = ''
          const lastMbti = {'EI':0, 'NS':0, 'TF':0, 'PJ':0}
          //1,5,9-EI 2,4,7-TF 3,8,11-PJ 6,10,12-NS

          for (const [key, value] of Object.entries(newLoadMbti)) {
            if (value == 1) {
              if (['1','5','9'].includes(key)) {
                lastMbti.EI += 1
              } else if (['2','4','7'].includes(key)) {
                lastMbti.TF += 1
              } else if (['3','8','11'].includes(key)) {
                lastMbti.PJ += 1
              } else {
                lastMbti.NS += 1
              }
          }
        }

          for (const [key, value] of Object.entries(lastMbti)) {
            if (value >= 2) {
              mbtiString += key[0]
            } else {
              mbtiString += key[1]
            }
          }

          location.href = `/mbti/${mbtiString}/`
        }
      

      } else {
        const questionType = event.target.dataset.questionCategory

        loadMbti[questionPk] = 1
        
        const indexPk = questionPk - 1
        loadList[indexPk] = 1

        localStorage.setItem('mbtiDict', JSON.stringify(loadMbti));
        localStorage.setItem('testList', JSON.stringify(loadList));

        const newPk = questionPk*1 + 1
        
        location.href = `http://127.0.0.1:8000/mbti/${newPk}/`    
      }
    }

    const LeftSelect = document.querySelector(`#choiceLeft`)
    LeftSelect.addEventListener('submit', onLeftSubmit)

    function onRightSubmit(event) {
      event.preventDefault()

      const questionPk = event.target.dataset.questionId

      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const config = {
        headers: {'X-CSRFToken': csrftoken},
      }

      if (questionPk*1 === 12) {
        const questionType = event.target.dataset.questionCategory

        loadMbti[questionType] = 0
        
        const indexPk = questionPk - 1
        loadList[indexPk] = 1

        localStorage.setItem('mbtiDict', JSON.stringify(loadMbti));
        localStorage.setItem('testList', JSON.stringify(loadList));
        
        const newLoadMbti = JSON.parse(localStorage.getItem('mbtiDict'))
        const newLoadList = JSON.parse(localStorage.getItem('testList'))

        if (newLoadList.includes(0)) {
          swal({
            // swal html 태그 추가 후 클래스 입히기
            text: "응답하지 않은 문항이 있습니다.\n메인 페이지로 돌아갑니다.",
            button: true,
            className: "swal-custom"
          }).then(function(){location.href = `/mbti/`;})
        } else {
          
          let mbtiString = ''
          const lastMbti = {'EI':0, 'NS':0, 'TF':0, 'PJ':0}
          //1,5,9-EI 2,4,7-TF 3,8,11-PJ 6,10,12-NS

          for (const [key, value] of Object.entries(newLoadMbti)) {
            if (value == 1) {
              if (['1','5','9'].includes(key)) {
                lastMbti.EI += 1
              } else if (['2','4','7'].includes(key)) {
                lastMbti.TF += 1
              } else if (['3','8','11'].includes(key)) {
                lastMbti.PJ += 1
              } else {
                lastMbti.NS += 1
              }
            }
          }
          
          for (const [key, value] of Object.entries(lastMbti)) {
            if (value >= 2) {
              mbtiString += key[0]
            } else {
              mbtiString += key[1]
            }
          }
      
          location.href = `/mbti/${mbtiString}/`
        }

      } else {
        const questionType = event.target.dataset.questionCategory

        loadMbti[questionPk] = 0
        const indexPk = questionPk - 1
        loadList[indexPk] = 1

        localStorage.setItem('mbtiDict', JSON.stringify(loadMbti));
        localStorage.setItem('testList', JSON.stringify(loadList));

        const newPk = questionPk*1 + 1
        
        location.href = `/mbti/${newPk}/`    
      }
    }

    const RightSelect = document.querySelector(`#choiceRight`)
    RightSelect.addEventListener('submit', onRightSubmit)
  </script>
{% endblock script %}